<div id="<%= dom_id tweet %>">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= tweet.likes %>
  </p>

  <p>
    <strong>Retweets:</strong>
    <%= tweet.retweets %>
  </p>

</div>
